.menu__navbar {
    grid-area: navbar ;
    background: $white;

    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    padding: 30px;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0.625rem 1.875rem rgba($black, .10);

    transition: 850ms;
}

.menu__navbar__cancel {
    width: 0.8rem;
}

.menu__navbar.active {
    top: 0;
    transition: 350ms;
}

.menu__navbar__nav {

    a {
        text-decoration: none;
    }

    .menu__navbar__items {
        padding: 0;
    }
}

.menu__navbar__item {
    list-style-type: none;
    color: $white;
    line-height: 2.7rem;

    a {
        color: $black;
        text-transform: uppercase;

        font-weight: $font-weight-300;
        font-size: $font-size-twenty;

        transition: font-weight .2s ease-in-out;

        &:hover {
            font-weight: $font-weight-500;
        }
    }

    .active {
        font-weight: $font-weight-500;
    }
}

.menu__navbar__select {
    border: none;
    padding: 0 5px 0 0;

    font-weight: $font-weight-300;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}